---
layout: page
title: Plataforma - SUAT - Portal Terra
description: SUAT é a sigla de Sistema Único do Assinante Terra. Um sistema responsável por transacionar toda área financeira e serviços do cliente do Terra.
permalink: /:title/
recent: false
---

<article>
  <div class="post">
    {% include shared.html %}

    <p><a href="https://terra.com.br" target="_blanck">terra.com.br</a></p>
    <p>SUAT é a sigla de Sistema Único do Assinante Terra. Um sistema responsável por transacionar toda área financeira e serviços do cliente do Terra.</p>

    <h3>Tecnologias</h3>
    <p>C ANSI, CGI, Python e Java Script.</p>

    <h3>Atuação:</h3>
    <p>Colaborador na empresa CWI Software onde fui terceirizado como desenvolvedor de software para o cliente Terra.</p>

  </div>
</article>

{% include comments.html %}