---
layout: page
title: API - Portal Terra
description: API de integração com o Portal Terra onde trafegava dados para 13 canais de vídeo simultâneos para o Pan americano de Guadalajara.
permalink: /:title/
recent: false
---

<article>
  <div class="post">
    {% include shared.html %}

    <p><a href="https://terra.com.br" target="_blanck">terra.com.br</a></p>
    <p>API de integração com o Portal Terra onde trafegava dados para 13 canais de vídeo simultâneos para o Pan americano de Guadalajara.</p>

    <h3>Tecnologias</h3>
    <p>Ruby, Ruby on Rails, Oracle e Nginx.</p>

    <h3>Atuação:</h3>
    <p>Colaborador na empresa CWI Software onde fui terceirizado como desenvolvedor de software para o cliente Terra.</p>

  </div>
</article>

{% include comments.html %}