---
layout: page
title: Plataforma - E-mail Marketing KingHost
description: Plataforma no modelo SaaS. É uma ferramenta de e-mail marketing que automatiza campanhas e fortalece o contato com clientes.
permalink: /:title/
recent: false
---

<article>
  <div class="post">
    {% include shared.html %}

    <p><a href="https://king.host" target="_blanck">king.host</a></p>
    <p>Plataforma no modelo SaaS. É uma ferramenta de e-mail marketing que automatiza campanhas e fortalece o contato com clientes.</p>

    <h3>Tecnologias</h3>
    <p>PHP e Zend Framework e Unix.</p>

    <h3>Atuação:</h3>
    <p>Colaborador dentro da empresa Kinghost na época a maior empresa de hospedagem de site do Brasil. Resposável pela analise de novas tecnologias, engenharia de requisitos, modelagem, documentação sistemas e desenvolvimento de software.</p>

  </div>
</article>

{% include comments.html %}