---
layout: page
title: Plataforma - Resale
description: Resale é uma plataforma de venda de imóveis totalmente digital. Com foco no mercado financeiro, desenvolve soluções para facilitar o acesso a imóveis retomados em operações de financiamento imobiliário, entre outras. Tecnologia e foco no cliente para gerar valor ao mercado.
permalink: /:title/
recent: false
---

<article>
  <div class="post">
    {% include shared.html %}

    <p><a href="https://resale.com.br" target="_blanck">resale.com.br</a></p>
    <p>Resale é uma plataforma de venda de imóveis totalmente digital. Com foco no mercado financeiro, desenvolve soluções para facilitar o acesso a imóveis retomados em operações de financiamento imobiliário, entre outras. Tecnologia e foco no cliente para gerar valor ao mercado.</p>

    <h3>Tecnologias</h3>
    <p>Python (AWS Lambda, Django REST e Scrapy); Serviços RESTful; PHP (CodeIgniter);MySQL; Git e Gitflow; SCRUM (Jira para Kanban); SOLID; Clean Code.</p>

    <h3>Atuação:</h3>
    <p>Estive colaborador na empresa Resale onde fui responsável pela documentação do sistema; Arquitetura de Testes (testes Unitários e de Integração); Arquitetura, modelagem e manutenção das API's de integração entre a empresa e os bancos financeiros parceiros.</p>
    <p>Também fui responsável por escrever e manter scripts de mineração de dados.</p>

    <h3>Imagens</h3>
    <p>
      <a href="/assets/img/projects/resale/1.png" target="_blanck">01</a> 
      <a href="/assets/img/projects/resale/2.png" target="_blanck">02</a> 
      <a href="/assets/img/projects/resale/3.png" target="_blanck">03</a>
    </p>

  </div>
</article>

{% include comments.html %}