---
layout: page
title: Gralha.cc
description: Um encurtador de URLs baseado em confiança, mantido por editoras de livros libertárias que utilizam e administram coletivamente criando vínculos entre si.
permalink: /:title/
recent: true
---

<article>
  <div class="post">
    {% include shared.html %}

    <p><a href="https://gralha.cc" target="_blanck">gralha.cc</a></p>
    <p>Um encurtador de URLs baseado em confiança, mantido por editoras de livros libertárias que utilizam e administram coletivamente criando vínculos entre si.</p>
    
    <h3>Tecnologias</h3>
    <p>JS, Rect.js e Docker.</p>

    <h3>Atuação:</h3>
    <p>Atuei junto ao coletivo de tecnologia social FARPA como Engenheiro de Software criando e planejando a arquitetura da solução e também atuei como Dev Full Stack dentro desse projeto.</p>
  </div>
</article>

{% include comments.html %}