---
layout: page
title: Plataforma - Circo Sul
description: Plataforma Digital da Associação de Circo do Rio Grande do Sul que conta com um sistema de gestão de conteúdo personalizado, com o foco no associado, onde cada associado pode gerenciar seu perfil, tendo assim um mini currículo no sistema que facilita o contato com possíveis contratantes de serviços circenses.
permalink: /:title/
recent: false
---

<article>
  <div class="post">
    {% include shared.html %}

    <p><a href="https://assocircors.org.br" target="_blanck">assocircors.org.br</a></p>
    <p>Plataforma Digital da Associação de Circo do Rio Grande do Sul que conta com um sistema de gestão de conteúdo personalizado, com o foco no associado, onde cada associado pode gerenciar seu perfil, tendo assim um mini currículo no sistema que facilita o contato com possíveis contratantes de serviços circenses.</p>
    
    <h3>Tecnologias</h3>
    <p>PHP, Laravel, JS e jQuery.</p>

    <h3>Atuação:</h3>
    <p>Atuei junto ao coletivo de tecnologia social FARPA como Engenheiro de Software criando e planejando a arquitetura da solução e também atuei como Dev Full Stack dentro desse projeto.</p>
  </div>
</article>

{% include comments.html %}