---
layout: page
title: Plataforma - Mutua
description: A Mútua é uma rede que propõe conectar campo e cidade em uma relação harmônica por meio de ações de conscientização ambiental em escolas e organização de feiras on-line para promoção dos alimentos agroecológicos cultivados em nosso Estado (RS). Reunimos nessa rede pessoas que estão dispostas a construir uma alternativa mais consciente para viver, por isso nos denominamos parceiros urbanos e nos conectamos com as famílias rurais que cultivam a Agroecologia como filosofia de produção e formalizam a certificação orgânica de sua produção. Com trabalho em rede, mostrando e valorizando todos os pontos do processo, a Mútua pretende fortalecer o elo da relação entre as duas pontas, agricultor e parceiro urbano.
permalink: /:title/
recent: false
---

<article>
  <div class="post">
    {% include shared.html %}

    <p><a href="mutua.eco.br" target="_blanck">mutua.eco.br</a></p>
    <p>A Mútua é uma rede que propõe conectar campo e cidade em uma relação harmônica por meio de ações de conscientização ambiental em escolas e organização de feiras on-line para promoção dos alimentos agroecológicos cultivados em nosso Estado (RS). Reunimos nessa rede pessoas que estão dispostas a construir uma alternativa mais consciente para viver, por isso nos denominamos parceiros urbanos e nos conectamos com as famílias rurais que cultivam a Agroecologia como filosofia de produção e formalizam a certificação orgânica de sua produção. Com trabalho em rede, mostrando e valorizando todos os pontos do processo, a Mútua pretende fortalecer o elo da relação entre as duas pontas, agricultor e parceiro urbano.</p>
    
    <h3>Tecnologias</h3>
    <p>PHP, Wordpress e WooCommerce.</p>

    <h3>Atuação:</h3>
    <p>Atuei junto ao coletivo de tecnologia social FARPA como Dev Full Stack apoiando na manutenção do projeto.</p>
  </div>
</article>

{% include comments.html %}