---
layout: page
title: Observatório de dados - Censura à Arte
description:  O Observatório de Censura à Arte é um projeto de cunho jornalístico, voltado a mapear os casos de censura às expressões artísticas no Brasil. Todos os casos têm sua veracidade checada antes da publicação. A iniciativa é do veículo de jornalismo cultural Nonada – Jornalismo Travessia, em parceria com a Riobaldo Conteúdo Cultural na execução, e tem apoio do Instituto Goethe.
permalink: /:title/
recent: true
---

<article>
  <div class="post">
    {% include shared.html %}

    <p><a href="http://censuranaarte.nonada.com.br" target="_blanck">censuranaarte.nonada.com.br</a></p>
    <p>O Observatório de Censura à Arte é um projeto de cunho jornalístico, voltado a mapear os casos de censura às expressões artísticas no Brasil. Todos os casos têm sua veracidade checada antes da publicação. A iniciativa é do veículo de jornalismo cultural Nonada – Jornalismo Travessia, em parceria com a Riobaldo Conteúdo Cultural na execução, e tem apoio do Instituto Goethe.</p>
    <p>O Nonada – Jornalismo Travessia é um veículo de jornalismo cultural com sede em Porto Alegre/RS. Desde 2010, procura relacionar as diversas formas de expressão artística com temas relativos aos direitos humanos. Recebeu prêmios como Agente Jovem da Cultura, do ministério da Cultura, Menção Honrosa no Prêmio Ari de Jornalismo e, em 2017, foi finalista do Prêmio Ages na Categoria Imprensa. Integra a lista de veículos recomendados pelo Mapa da Agência Pública de Jornalismo Independente.</p>
    
    <h3>Tecnologias</h3>
    <p>Python, Django e React.js</p>

    <h3>Atuação:</h3>
    <p>Atuei junto ao coletivo de tecnologia social FARPA apoiando a criação da arquitetura da solução e também atuei como Dev Full Stack dentro desse projeto.</p>
  </div>
</article>

{% include comments.html %}