---
layout: page
title: Grupo de Pesquisa CNPq - Africanos e seus descendentes no Brasil
description: Dentro do projeto, minha contribuição envolveu a recuperação dos dados de mais de 20 anos de pesquisa, a higienização das informações coletadas e a apresentação dos resultados em um novo website.
permalink: /:title/
recent: true
---

<article>
  <div class="post">
    {% include shared.html %}

    <p><a href="https://escravidaoeliberdade.com.br" target="_blanck">escravidaoeliberdade.com.br</a></p>
    <p>O Grupo de Pesquisa do CNPq foi estabelecido em 2002, com o propósito de investigar de maneira abrangente e comparativa a experiência dos africanos e seus descendentes no Brasil. Objetivo é compreender e analisar diversos aspectos dessa vivência histórica.</p>
    <p>Pesquisa do CNPq, UFPR, UFRGS, UFSC, UFSM, Unifesp e UNESP-ASSIS.</p>
    
    <h3>Tecnologias</h3>
    <p>Python, PHP e MySQL</p>

    <h3>Atuação:</h3>
    <p>Dentro do projeto, minha contribuição envolveu a recuperação dos dados de mais de 20 anos de pesquisa, a higienização das informações coletadas e a apresentação dos resultados em um novo website.</p>
  </div>
</article>

{% include comments.html %}