---
layout: page
title: Observatório Castanha-da-Amazônia 
description: O Observatório Castanha-da-Amazônia é uma rede de organizações que atua para desenvolver a cadeia da castanha, produzindo conhecimento, inteligência e mobilização de atores para consolidar um mercado justo que valorize os povos e comunidades envolvidas e promova a conservação da floresta.
permalink: /:title/
recent: true
---

<article>
  <div class="post">
    {% include shared.html %}

    <p><a href="https://observatoriodacastanha.org.br" target="_blanck">observatoriodacastanha.org.br</a></p>
    <p>O Observatório Castanha-da-Amazônia é uma rede de organizações que atua para desenvolver a cadeia da castanha, produzindo conhecimento, inteligência e mobilização de atores para consolidar um mercado justo que valorize os povos e comunidades envolvidas e promova a conservação da floresta.</p>
    <p>O OCA é resultado da articulação entre importantes instituições, redes, coletivos e iniciativas atuantes na cadeia produtiva da castanha-da-amazônia.</p>
    
    <h3>Tecnologias</h3>
    <p>Node.js e Vue.js</p>

    <h3>Atuação:</h3>
    <p>Atuo junto ao coletivo de tecnologia social Terrakrya apoiando como Dev Full Stack dentro desse projeto.</p>
  </div>
</article>

{% include comments.html %}