<div class="author">
  <img
    class="author-avatar"
    src="{{ site.author.avatar }}"
    alt="{{ site.author.username }}"
  />
  <h2 class="author-name">@{{ site.author.name }}</h2>
  <p class="author-bio">{{ site.author.bio }}</p>

  <div class="page-content">
    <div class="archive-tags">
      <a class="tag-item" href="/posts/dev">dev</a>
      <a class="tag-item" href="/posts/privacity">privacity</a>
      <a class="tag-item" href="/posts/reviews">reviews</a>
      <a class="tag-item" href="/posts/texts">texts</a>
      <a class="tag-item" href="/tags">tags</a>
    </div>
  </div>
</div>
