---
layout: page
title: Escute Padawan. Dicas para jovens devs
description: Esse texto é fruto de um processo que estou vivenciando. Trata-se da mentoria coletiva de iniciantes desenvolvedores de software. Trago aqui a materialização de algumas conversas e anotações desse processo.
tags: tips career
categories : posts/texts
---

<article>
   <div class="post">
      {% include shared.html %}
      <p>Esse texto é fruto de um processo que estou vivenciando. Trata-se da mentoria coletiva de iniciantes desenvolvedores de software. Trago aqui a materialização de algumas conversas e anotações desse processo.</p>
      <p>Então meu jovem padawan, para seguir a nossa jornada, vou levantar aqui alguns tópicos. Que a força esteja com você.</p>

      <h2>Respire</h2>
      <p>Talvez eu vá falar o obvio, precisa respirar corretamente. Isso te dará equilíbrio para potencializar a conexão entre o físico e a mente. Tenha paciência, há um longo processo a trilhar e muitos serão os ensinamentos ao longo do caminho. Não tente absorver tudo de uma única vez, pois sera humanamente impossível.</p>

      <h2>Escute</h2>
      <p>Tenha a capacidade de escutar, desenvolva essa habilidade.</p>
      <p>Observe atentamente todos os passos de uma explicação, processe e entenda essa nova informação. Segure sua ansiedade - para executar, primeiro é preciso entender.</p>
      <p>Anote todos os passos em um diário de bordo, tenha um histórico de tudo que aprendeu e exercitou ao longo do caminho.</p>

      <h2>Repita</h2>
      <p>Após aprender a observar, reproduza tudo conforme você for aprendendo. Desde criança somos máquinas de observação e reprodução de comportamentos. Use essa habilidade natural dentro do contexto do seu trabalho.</p>
      <p>Repita quantas vezes for necessário para aprender. Copie códigos, cole, entenda cada linha e etapa do seu algorítimo.</p>
      <p>A criança antes de aprender a falar observa atentamente e repete incansavelmente uma sílaba ate fixa-la em sua mente tornando essa habilidade orgânica. Para aprender uma palavra ela repete esse processo por muitas vezes. Para criar uma frase completa e contextualizada ela pode levar em média 3 anos de muita observação e repetição;</p>
      <p>Um músico iniciante precisa reproduzir melodias de diversos compositores, é necessário repetir incansavelmente, por horas e dias, até chegar ao resultado que agrade seus ouvidos. O músico ainda precisa entender da rítmica, teoria dos acordes, arpejos e como são construídas as músicas. Após entender essa estrutura é possível criar suas próprias músicas e improvisar.</p>

      <h2>Caminhe</h2>
      <p>Antes de um bebê caminhar ele precisa passar por um longo processo de desenvolvimento. É necessário aprender a mexer o próprio pescoço - sim, quando nascem não conseguem mexer seus pescoços sozinhos. Outra etapa de sua tão recente vida é aprender a rolar e posteriormente engatinhar sozinho. Para dar os primeiros passos precisará de alguém para confiar e ao longo desse processo cairá inumeras vezes. Só, e somente só, após caminhar você poderá correr.</p>
      <p>E sim, se tentar correr antes de todas essas etapas, você vai sempre cair. Mas, jovem padawam, não tenha medo, segurarei sua mão por todo o caminho até o momento de sentir segurança para dar seus primeiros passos.</p>

      <h2>Erre</h2>
      <p>Tenho uma verdade para te falar, você não é uma máquina, és um ser humano, e como tal és imperfeito e passível de erros, sim. Desculpe-me se te abalei com essa verdade. Como um ser humano imperfeito você vai errar, cair, quebrar uma build e enviar um ou mais bugs para o ambiente de produção.</p>
      <p>Tenha a consciência de que irá errar não importa quantas décadas tenha de experiência profissional. Será nécessario levantar e corrigir o seu erro e não existe problema algum... a menos que seu erro possa gerar um custo de várias cifras ao seu chefe.</p>

      <h2>Pratique</h2>
      <p>Mesmo no início sempre temos o que compartilhar e ensinar. Seja um mestre, ensine e compartilhe.</p>
      <p>Crie um blog, escreva, participe de comunidades de software livre, colabore para projetos open source, criei seu próprio projeto de código aberto. Participe de palestras, submeta suas palestras para eventos de software. Participe de coding dojos, pratique meu jovem.</p>

      <p>A prática é o caminho do desenvolvimento.</p>

      <h2>Esvazie sua xícara</h2>
      <p>Sempre se coloque no lugar de aprendiz, você não sabe tudo. É humanamente impossível saber tudo, por mais que desejamos, e somente se pondo na posição de aprendiz você terá a capacidade de abrir horizontes para novos conhecimentos.</p>
      <p>Como diz a sabedoria zen, o conhecimento é como uma xícara de chá: É preciso esvaziá-la para que possamos derramar mais chá sobre a xícara. Uma xícara cheia não oferece espaço para mais nada e uma xícara vazia não é uma oportunidade desperdiçada. Você pode preenche-la todos os dias e esvaziá-la também, quando necessário.</p>

      <h2>Único</h2>
      <p>Você e um ser único dentro da sua empresa, cidade, planeta desse universo. Não se compare a ninguém, não existe algum ser como você. Você está exatamente onde deveria estar.</p>
      <p>Temos habilidades diferentes, complementares, e juntos nosso time é muito mais potente pela existência dessa diversidade.</p>

      <h2>Trilhe seu caminho</h2>
      <p>Jovem padawan, eu não irei trilhar o caminho por você, apenas mostrarei o caminho das pedras. Agora é com você, aprenda a escalar cada pedra e a trilhar seu próprio caminho. Espero de coração que essa jornada seja prazerosa. </p>
   </div>
</article>

{% include comments.html %}
