---
layout: page
title: Compilado de noticias - violação à privacidade - 21
description: Este post tem o intuito de concatenar algumas notícias do ano de 2021, onde foi constatado supostos abusos de poder corporativo e governamentais que envolvam violação à privacidade, vazamentos de dados e uso indevido da tecnologia em detrimento de manutenção de poder.
tags: society safety privacity
categories : posts/privacity
---

<article>
   <div class="post">
      {% include shared.html %}

      <p>Este post tem o intuito de concatenar algumas notícias do ano de 2021, onde foi constatado supostos abusos de poder corporativo e governamentais que envolvam violação à privacidade, vazamentos de dados e uso indevido da tecnologia em detrimento de manutenção de poder.</p>
      <br />

      <p><a href="https://citizenlab.ca/2021/12/pegasus-vs-predator-dissidents-doubly-infected-iphone-reveals-cytrox-mercenary-spyware/" target="_blanck">Pegasus vs. Predator Dissident’s Doubly-Infected iPhone Reveals Cytrox Mercenary Spyware</a></p>
      <p>(Citizenlab - 16/12/21)</p>
      <p>Ativistas políticos infectados pelo spyware Cytrox Predator: Ayman Nour, membro da oposição política egípcia que vive no exílio na Turquia, e um jornalista exilado egípcio que hospeda um programa noticioso popular.</p>
      <br />

      <p><a href="https://exame.com/tecnologia/franca-diz-que-clearview-de-identificacao-facial-violou-lei-de-dados/" target="_blanck">França diz que Clearview, de identificação facial, violou lei de dados</a></p>
      <p>(Exame - 16/12/21)</p>
      <p>A agência francesa de vigilância da privacidade de dados, CNIL, ordenou que a Clearview AI, empresa de reconhecimento facial que coletou 10 bilhões de imagens em todo o mundo, pare de acumular e usar dados de pessoas residentes no país.</p>
      <br />

      <p><a href="https://www1.folha.uol.com.br/equilibrioesaude/2021/12/ministerio-da-saude-sofreu-2o-ataque-hacker-diz-marcelo-queiroga.shtml" target="_blanck">Ministério da Saúde sofreu 2º ataque hacker, diz Marcelo Queiroga</a></p>
      <p>(Folha de São Paulo - 13/12/21)</p>
      <p>Dados do sistema do Ministério da Saúde, são supostamente sequestrados. O problema no Ministério da Saúde ocorre em um período de pressão contra o governo federal pelo controle mais rígido das fronteiras, após a descoberta da variante ômicron do coronavírus.</p>
      <br />

      <p><a href="https://www.washingtonpost.com/world/middle_east/israel-palestinians-surveillance-facial-recognition/2021/11/05/3787bf42-26b2-11ec-8739-5cb6aba30a30_story.html" target="_blanck">Israel intensifica a vigilância dos palestinos com programa de reconhecimento facial na Cisjordânia</a></p>
      <p>(Washington Post - 08/11/21)</p>
      <p>Os militares israelenses têm conduzido um amplo esforço de vigilância na Cisjordânia ocupada para monitorar os palestinos, integrando o reconhecimento facial com uma rede crescente de câmeras e smartphones, de acordo com as descrições do programa feitas por soldados israelenses recentes.</p>
      <br />
      
      <p><a href="https://www.jn.pt/mundo/ex-funcionaria-acusa-facebook-de-prejudicar-criancas-e-aumentar-polarizacao-nos-eua-14190870.html" target="_blanck">Ex-funcionária acusa Facebook de prejudicar crianças e aumentar polarização nos EUA</a></p>
      <p>(Jornal de Notícias - 01/11/21)</p>
      <p>Estes documentos mostram o que o Facebook sabia. Eles sabiam que traficantes de pessoas usavam o Facebook para atrair mulheres para a escravidão sexual. Eles sabiam que o Facebook estava sendo utilizado para incitar violência contra minorias. E eles sabiam que os seus sistemas removiam menos de 1% dos conteúdos violentos!</p>
      <br />

      <p><a href="https://www.cnnbrasil.com.br/business/facebook-sabia-que-incentivava-violencia-na-etiopia-e-mianmar-diz-denunciante/" target="_blanck">Facebook sabia que incentivava violência na Etiópia e Mianmar, diz denunciante</a></p>
      <p>(CNN Brasil - 25/10/21)</p>
      <p>Frances Haugen, denunciante do Facebook, falou sobre a postura da rede social em depoimento a um comitê parlamentar do Reino Unido nesta segunda-feira (25)</p>
      <br />

      <p><a href="https://valorinveste.globo.com/mercados/renda-variavel/empresas/noticia/2021/10/13/plataforma-vaza-175-bilhao-de-dados-de-clientes-de-marketplaces-e-correios.ghtml" target="_blanck">Plataforma vaza 1,75 bilhão de dados de clientes de marketplaces e Correios</a></p>
      <p>(O Globo - 13/10/21)</p>
      <p>Diversas plataformas de grandes varejistas, o integrador de marketplaces HariExpress teve 1,75 bilhão de dados (610 GB) expostos, segundo um relatório do SafetyDetectives, um grupo de pesquisadores que investigam vazamentos na internet.</p>
      <br />

      <p><a href="https://g1.globo.com/tecnologia/noticia/2021/10/07/google-proibira-anuncios-e-monetizacao-a-canais-do-youtube-que-neguem-mudancas-climaticas.ghtml" target="_blanck">Google proibirá anúncios e monetização a canais do YouTube que neguem mudanças climáticas</a></p>
      <p>(G1 Notícias - 07/10/21)</p>
      <p>Empresa afirmou que anunciantes e criadores de conteúdo demonstraram preocupação com a possibilidade de aparecem próximo a discursos negacionistas. Nova regra começará a valer em novembro.</p>
      <br />

      <p><a href="https://www.bbc.com/portuguese/internacional-58704588" target="_blanck">Vazamento no Facebook: o que novo escândalo revela sobre práticas da empresa</a></p>
      <p>(BBC News Brasil - 27/09/21)</p>
      <p>O Facebook enfrentou nos últimos dias uma série de acusações sobre seu funcionamento interno, após revelações do jornal americano Wall Street Journal e de outros veículos.</p>
      <br />

      <p><a href="https://www.tecmundo.com.br/seguranca/222134-criadora-pegasus-suspende-uso-do-spyware-governos.htm" target="_blanck">Criadora do Pegasus suspende uso do spyware por alguns governos</a></p>
      <p>(Tecmundo - 30/07/21)</p>
      <p>NSO admite atender 60 usuários em 40 países, todos eles agências de inteligência, órgãos aplicadores da lei e militares. Após confirmar alguns abusos apontados pela mídia, a empresa bloqueou o uso do spyware a cinco agências governamentais.</p>
      <br />

      <p><a href="https://revistaforum.com.br/brasil/equipamento-de-espionagem-no-celular-e-oferecido-a-policia-federal/" target="_blanck">Equipamento de espionagem no celular é oferecido à Polícia Federal</a></p>
      <p>(Revista Forum - 20/07/21)</p>
      <p>Capaz de acessar remotamente os celulares de terceiros, o equipamento Pegasus, desenvolvido pela israelense NSO Group, foi oferecido à Polícia Federal brasileira por US$ 2,7 milhões. As informações são da revista Época.</p>
      <br />

      <p><a href="https://oglobo.globo.com/epoca/brasil/a-chegada-ao-brasil-do-pegasus-estrela-do-submundo-da-espionagem-23815778" target="_blanck">A chegada ao Brasil do Pegasus, estrela do submundo da espionagem</a></p>
      <p>(O Globo 18/07/21)</p>
      <p>As relações próximas do presidente Jair Bolsonaro e do premiê Benjamin Netanyahu estimularam o marketing agressivo da NSO Group, fabricante do Pegasus, no Brasil.</p>
      <br />

      <p><a href="https://oglobo.globo.com/economia/site-diz-que-novo-vazamento-expoe-dados-de-700-milhoes-de-usuarios-do-linkedin-25082589" target="_blanck">Novo vazamento expõe dados de 700 milhões de usuários do Linkedin</a></p>
      <p>(O Globo - 29/06/21)</p>
      <p>No que pode ser um dos maiores vazamentos de dados do Linkedin, o site da empresa Restore Privacy informou nesta terça-feira que dados de cerca de 700 milhões de usuários da rede social foram colocados à venda na web.</p>
      <br />

      <p><a href="https://g1.globo.com/economia/tecnologia/noticia/2021/01/28/vazamento-de-dados-de-223-milhoes-de-brasileiros-o-que-se-sabe-e-o-que-falta-saber.ghtml" target="_blanck">Megavazamento de dados de 223 milhões de brasileiros</a></p>
      <p>(O Globo - 28/01/2021)</p>
      <p>Número é maior do que a população do país, estimada em 212 milhões, porque inclui dados de falecidos. Informações expostas incluem CPF, nome, sexo e data de nascimento, além de uma tabela com dados de veículos e uma lista com CNPJs.</p>
      
   </div>
</article>

{% include comments.html %}
