---
layout: page
title: Como foi produzir um festival de cultura hacker
description: Este post tem o objetivo de compartilhar minhas impressões sobre como foi o processo de produção de um festival que nasceu com uma proposta ousada ser inclusivo, digital e com a missão de pautar assuntos relacionados à cultura hacker, entre eles educação, conhecimento livre, software livre, hardware livre, cibersegurança e dados abertos.
tags: society
categories : posts/texts
---

<article>
   <div class="post">
      {% include shared.html %}

      <p>Este post tem o objetivo de compartilhar minhas impressões sobre como foi o processo de produção de um festival que nasceu com uma proposta ousada: ser <strong>inclusivo, digital</strong> e com a missão de pautar assuntos relacionados à <strong>cultura hacker</strong>, entre eles educação, conhecimento livre, software livre, hardware livre, cibersegurança e dados abertos.</p>
      <p>Estou falando do <a href="https://muvuca.matehackers.org/" target="_blanck">Muvuca Hack Festival</a>, evento produzido pelo hackerspace <a href="https://matehackers.org/">MateHackers</a> e que tive a oportunidade de pilotar a organização e a curadoria. O Muvuca aconteceu durante todos os sábados do mês de novembro desse ano distópico e pandêmico de 2021, e contou ao todo com 12 encontros - três a cada sábado.</p>
      <p>Foi um trabalho árduo produzir um evento tão longo, de forma autônoma e sem nenhum recurso financeiro. Organizamos e dividimos as demandas da forma mais horizontal possível, atribuindo funções conforme as habilidades dos membros integrantes da organização.</p>
      <p>Desde o início tínhamos como ideia criar um evento diverso, tentando abrir espaço para projetos que pautassem o feminino, projetos relacionados à periferia e a grupos LGBTQIA+.</p>
      <p>Nessa missão, infelizmente, falhamos. Não conseguimos contatar e incluir grupos de tecnologia que trouxessem projetos com essas temáticas, ainda que tenhamos conseguido trazer pelo menos 50% de palestrantes mulheres. No cenário da Tecnologia da Informação, infelizmente, ainda existe uma grande desigualdade de gêneros e de vivências.</p>
      <p>O nome do evento nasce com um signo de transformação: "Muvuca, palavra de origem indígena, é a mistura de vários grãos e sementes com terra, para reflorestar uma área devastada." No nosso evento, buscamos trazer uma nova perspectiva com relação ao mundo da tecnologia. Uma perspectiva inclusiva, criadora de novos mundos, novas ideias.</p>
      <p>Apesar dos desafios enfrentados, o evento conseguiu unir palestrantes de distintos estados do país (Bahia,  Pernambuco, Alagoas, Rio Grande do Norte, São Paulo, Paraná e Rio Grande do Sul) e de diversos hackerspaces, trazendo consigo variados projetos de tecnologia. Tivemos uma programação linda, que gostaria de registrar aqui:</p>
      
      <ul>
         <li>Hackerspaces educam: inclusão, mérito e engajamento com a <a href="https://kamenezes.net/" target="_blanck">Prof. Karina Menezes;</a></li>
         <li>Gráfica Livre com a <a href="https://www.barbara.blog.br/blog/" target="_blanck">Barbara Tostes;</a></li>
         <li>Produção editorial utilizando Software Livre com Claudia Mayer da <a href="https://monstrodosmares.com.br/" target="_blanck">Monstro do Mares;</a></li>
         <li>Como os softwares livres e abertos contribuem nos processos de Fabricação Digital? com a <a href="https://twitter.com/marthagssantos" target="_blanck">Martha Santos;</a></li>
         <li><a href="https://tecnologias.libres.cc/c.arpino/eco-industrializacao-modular/wikis/home" target="_blanck">Eco indústria Modular:</a> um presente livre para o futuro com mais realidades regenerativas com o Cristthian Marafigo Arpino;</li>
         <li>A importância dos dados abertos governamentais e seus aplicativos resultantes com a <a href="http://github.com/mariacarolinass" target="_blanck">Carolina Soares;</a></li>
         <li><a href="https://jabutiedu.org/" target="_blanck">Robótica Livre</a> com o Prof. Eloir J. Rockenbach;</a></li>
         <li>Anonimato em Tempos Sombrios com o <a href="http://d4n1.org/" target="_blanck">Daniel Pimentel;</a></li>
         <li>Lançamento do Livro "Manifestos Cypherpunks" com o Leonardo Foletto da <a href="https://baixacultura.org/" target="_blanck">Baixa Cultura;</a></li>
         <li><a href="https://queridodiario.ok.org.br/" target="_blanck">Querido Diário</a>: Dados abertos dos diários municipais com o Giulio Carvalho;</li>
         <li>5 modelos de negócio bem sucedidos em software livre com o <a href="https://www.pbaesse.net/" target="_blanck">Pedro Baesse;</a></li>
         <li>Ecossistema Python: ninguém fica de fora com o <a href="https://twitter.com/fmasanori" target="_blanck">Prof. Fernando Masanori.</a></li>
      </ul>
      <br />
      <p>Muitos foram os aprendizados e muitas as trocas fruto dessa experiência, e espero que essa semente que foi o Muvuca siga semeando cada vez mais diversidade e conhecimento dentro e fora do ciberespaço.</p>
      <p>Seguimos caminhando, e que a força esteja com você!</p>

   </div>
</article>

{% include comments.html %}
