---
layout: page
title: Por que eu não uso o WhatsApp
description: Nesse post explanarei alguns motivos porque optei por não usar esse aplicativo de comunicação.
tags: society safety privacity
categories : posts/privacity
---

<article>
   <div class="post">
      {% include shared.html %}

      <p>Nesse post explanarei alguns motivos porque optei por não usar esse aplicativo de comunicação.</p>
      <p>Alguns pontos podem parecer repetitivos e óbvios para muitas pessoas, mas não muda que são fatos.</p>
      
      <h2>1 - Privacidade</h2>
      <p>Não quero que uma companhia privada que monopoliza o sistema de comunicação digital e as redes sociais, saiba e conheça a minha rede de contatos, localização geográfica, o que penso, o que sinto, tenha acesso a meus dados sensíveis e até mesmo documentos pessoais.</p>
      <p>A privacidade das comunicações pessoais é um direito básico, e se você não tem essa preocupação, indico rever alguns de seus conceitos.</p>
      
      <h2>2 - Coleta de dados</h2>
      <p>O WhatsApp coleta diversas informações e metadados de seus usuários para atender seus interesses de negócio. Existem indícios que os dados coletados nesse aplicativo também estão disponíveis na plataforma do Facebook.</p>
      <p>Não é nenhuma novidade que o Facebook (Meta) usa para rentabilizar as suas plataformas dados pessoais dos usuários para traçar perfis psicológicos e de consumo. Também vimos ao longo da sua história inúmeros escândalos de vazamento e indícios de fornecimento de dados de usuários para companhias privadas e governamentais.</p>
      <p>Podemos checar nesse <a href="https://www.whatsapp.com/legal/privacy-policy-eea" target="_blanck">link</a> as informações coletadas.</p>
      
      <h2>3 - Software Proprietário</h2>
      <p>O uso desse aplicativo requer que você execute um software de código proprietário e fechado, seja no aplicativo web executado no navegador ou através da sua aplicação mobile.</p>
      <p>Isso implica que a comunidade de desenvolvedores não pode analisar o código-fonte e entender o conjunto de regras que esta por trás da aplicação que trafega nossa comunicação e dados pessoais.</p>
      
      <h2>4 - Alterativas melhores</h2>
      <p>Existem diversas opções de comunicadores que atendem muito bem a essa necessidade. Abordei aqui mais de uma vez a ferramenta e a protocolo na qual estou utilizando, para quem tiver interesse segue o post: <a href="/mensageiro-element-protocolo-matrix/">~/o mensageiro element e o protocolo matrix</a></p>
      <p>Resumindo, optei por utilizar um comunicador não proprietários, que é um software livre, mantido por uma comunidade vibrante e um protocolo que oferece suporte à criptografia forte de ponta a ponta.</p>
      
      <h2>5 - Uso de um smartphone</h2>
      <p>Essa é uma questão bem pessoal, optei por não ter um 'smartphone', isso por várias questões também relacionadas à privacidade e a ganho de tempo de vida. Logo essa escolha acarretaram também a não conseguir me autenticar no aplicativo dado que ele requer obrigatoriamente o vínculo com um número telefônico e um smartphone.</p>
      
      <h2>6 - Conclusão</h2>
      <p>Esses são alguns pontos que me levaram a tomar tal decisão, dada muitas vezes por radical, visto que hoje grande parte das pessoas optaram por se comunicar apenas com esse aplicativo.</p>
      <p>Claro que essa escolha acarreta perder diversos contatos com grupos, pessoas e familiares, então antes de toma-la é necessário botar na balança e mensurar o que é melhor para si.</p>
      <p>Caso você queira se comunicar comigo, fica aqui meu contato na rede <a href="https://app.element.io/#/user/@f0rmig4:matrix.org" alt="matrix f0rmig4" target="_blanck">matrix</a> e/ou se preferir sinta-se à vontade para me enviar um e-mail em resposta a qualquer questão nesse post. Se você quiser criptografá-lo, aqui está minha <a href="/pgp">chave pgp</a><p>
      
      <p>Que a força esteja com você.</p>
   </div>
</article>

{% include comments.html %}
      
      
      
      



