---
layout: page
title: Lançador de interruptores
description: Para mudar o padrão de postagens, resolvi arquivar em meu dispositivo mnemônico um poema que estava circulando no grupo aberto do hackerspace que colaboro
tags: texts
categories : posts/texts
---

<article>
   <div class="post">
      {% include shared.html %}

      <p>Para mudar o padrão de postagens, resolvi arquivar em meu dispositivo mnemônico um poema que estava circulando no grupo aberto do hackerspace que colaboro. Muitos no grupo demostraram interesse pela obra, ninguém soube citar o autor e nem a fonte da poesia. Então corri atrás, de modo a transcrever, registrar e compartilhar.</p>
      <br />
      <i>
      <p>"Lançador de interruptores para o mundo,</p>
      <p>Testador de fusíveis, criador de estradas,</p>
      <p>Jogador nas estradas de ferro, piloto dos sistemas avançados;</p>
      <p>Esquálido, descabelado, desleixado,</p>
      <p>Máquina das válvulas e parafusos:</p>
      <p>Eles me dizem que você é perversa e eu acredito; eu vi suas luzes de plástico colorido atraindo os sistemas de refrigeração...</p>
      <p>Sob a torre, poeira de todos os lugares, faço hack em sistemas bifurcados,</p>
      <p>Faço hack como um calouro ignorante, que esteve sempre ocupado e acabou não se formando,</p>
      <p>Faço hack nas placas de controle sob as quais estão os interruptores e sob seu controle avançamos com o sistema,</p>
      <p>Sou um hacker!</p>
      <p>Esquálido, descabelado e desleixado, faço hack na minha juventude; sem cabos, fritando diodos, tenho orgulho de ser o lançador de interruptores, o testador de fusíveis, o criados de estradas, jogador das estradas de ferro e piloto dos sistemas avançados."</p>
      </i>
      <br />
      <p>Autor Desconhecido - Jornal do Clube de Ferromodelismo - Trecho do livro Os Heróis da Revolução.</p>
   </div>
</article>

{% include comments.html %}
      
      
      
      



