---
layout: page
title: Desista do GitHub!
description: Se alguém me perguntar porque não faço parte da comunidade do GitHub não vou hesitar em responder, GitHub é propriedade exclusiva da Microsoft, uma empresa cujos executivos têm historicamente atacado repetidamente o licenciamento copyleft
tags: safety privacity society
categories : posts/privacity
---

<article>
   <div class="post">
      {% include shared.html %}
      <p>Fui usuário do GitHub por muitos anos, escrevi neste blog diversas dicas a respeito da plataforma e do uso de suas ferramentas, mas desde a compra do GitHub pela Microsoft eu tenho ficado mais atento às ações da companhia.</p>
      <p>Recentemente o abandono do Atom pela Microsft reacendeu a chama da desconfiança, mas de fato o que me fez levantar a bandeira da desistência do GitHub foi a publicação <a href="https://sfconservancy.org/GiveUpGitHub/" target="_blanck">Give Up GitHub</a> no site oficial da Software Freedom Conservancy.</p>
      <p>Na quarta-feira dia 29 de Junho de 2022 a Software Freedom Conservancy iniciou uma campanha com a comunidade de desenvolvedores de software livre para abandonar a plataforma do GitHub: "GitHub has warped Git — creating add-on features that turn a distributed, egalitarian, and FOSS system into a centralized, proprietary site".</p>
      <p>O artigo traz diversos bons motivos para migrarmos da plataforma, muitos desses motivos são conhecidos, indico a leitura e também que repensamos nossas ações na comunidade que atuamos e na realidade que queremos criar em nosso entorno.</p>
      <p>Também está sendo mantida uma <a href="https://lists.sfconservancy.org/mailman/listinfo/give-up-github" target="_blanck">lista de discusão</a> promovido pela SFC, onde a comunidade pode compartilhar as difiuculdades e ações que estão tomando em apoio a campanha.</p>
      <p>Para mim, a questão que envolveu o projeto Co-pilot é mais um catalisador para desencadear o movimento de migração, a minha principal questão com GitHub sempre foi que é uma espécie de posição antitética de ser um sistema proprietário e exclusiva da Microsoft para projetos de softwares abertos.</p>
      <p>O tempo nos mostrou que o GitHub e a Microsoft se tornaram empresas cujo os executivos têm historicamente atacado repetidamente o licenciamento copyleft.</p>
      <p>A campanha feita pela Software Freedom Conservancy foi o gatilho que eu precisava para abandonar o serviço. Vejo como uma obrigação moral excluir minha conta do GitHub, por mais que isso me custe um futuro emprego, então se você quer me encontrar eu mantenho meu perfil e projetos no <a href="https://gitlab.com/" target="_blanck">GitLab</a>.</p>
      <p>Não foi nada fácil ter que abandonar esse serviço dado que eu usava o GitHub como host para hospedar muito de meus projetos, esse blog, por exemplo, e minhas palestras. Mas tenho que ser condizente com o meu discurso e meu apoio a comunidade de software e conhecimento livre.</p>
      
      <p>Gostaria de saber também a sua opinião a respeito desse assunto, fica aqui meu contato na rede <a href="https://app.element.io/#/user/@f0rmig4:matrix.org" alt="matrix f0rmig4" target="_blanck">matrix</a> e/ou se preferir sinta-se à vontade para me enviar um e-mail em resposta a qualquer questão nesse post. Se você quiser criptografá-lo, aqui está minha <a href="/pgp">chave pgp</a></p>
      <p>Que a força esteja com você.</p>

   </div>
</article>

{% include comments.html %}
      
      
      
      



